
$screen:1920;
$container-size:1170;
$container:1130px;

$color:#232323;
$color1:#000;
$color2:#000;
$color3:#000;
$color4:#000;

$font1:'Montserrat', sans-serif;
$font2:'Inter', sans-serif;
$size:rem(18);

$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: $container;
